/* Padrão do site */

@font-face{
    font-family: 'nostra-fonte';
    src: url(LouisGeorgeCafe.ttf);
}

#container{
    margin: 0 auto;
    max-width: 1400px;
    background-image:url('../images/nostra-background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family:'nostra-fonte';

    /* display */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Delivery button */
#delivery-btn{
    position: fixed;
    bottom: 70px;
    right: 100px;

    width: 300px;
    height: 70px;
    border-radius: 30px;
    border: 1px solid black;
    background: rgb(197, 10, 10);
    font-size: 22px;
    color: white;
    padding: 0px;
}

#delivery-btn:hover{
    cursor: pointer;
}

/* Header */
#fixed-header{
    background: rgba(114, 0, 0);
    height: 70px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    list-style-type: none;
    margin-right: 20px;
}

#menu a{
    text-decoration: none;
    color: white;
}

#menu a:hover{
    font-weight: bold;
}
/* Fim do padrão */

/* Index.html */

/* Main */

.main-content{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    /* display */
    display: flex;
    flex-direction
    : column;
    align-items: center;
    flex: 1 1 0;
    margin-bottom: 30px;
}

.main-title{
    font-size: 50px;
    color: rgb(214, 31, 31);
}

.cardapio-pics{
    margin-top: 50px;
    border-radius: 20px;
}

#text-content{
    margin-bottom: 50px;
    line-height: 30px;
}

#text-content p{
   font-size: 20px;
}

#logo-header{
    margin-top: 0px;
    
}

#nostra-logo{
    margin-top: 50px;
    height: 500px;
    border-radius: 30px;
}

/* footer (rodapé) */
#footer{
    background: rgb(0, 0, 0, 0.9);
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
}

#footer-container ul li{
    list-style-type: none;
}

.foot-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.foot-icons img{
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}

/* cardapio.html */

.main-content-cardapio{
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.main-content-cardapio h1{
    font-size: 40px;
    color: rgb(197, 10, 10);
    margin-top: 70px;
}

.cardapio-table{
    width: 900px;
    height: 200px;
    border-collapse: collapse;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardapio-table td{
    border: 1px solid black;
    padding: 20px;
    background: rgb(48, 46, 46);
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.cardapio-table th{
    background: rgb(156, 10, 10);
    height: 25px;
    font-size: 18px;
}

.cardapio-pics{
    height: 400px;
}

/* sobre.html */
#sobre-container{
    display: flex;
    justify-content: center;
}

.sobre-cards{
    background-color: black;
    width: 700px;
    height: 500px;
    margin: 50px 50px;
    border-radius: 20px;

   
}

.sobre-cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 70px;
    line-height: 25px;
    padding: 30px;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}